@import '~antd/dist/antd.css';
html, body, #root {
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}
.pos-box {
  height: 45px;
}
.PaddingBox{
  background: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #333;
} 
.header_top {
  display: flex;
}
.LogoBox {
  width: 150px;
  text-align: center;
  line-height: 45px;
}
